    <mtapp:setting        id="plugin_active"        label="<__trans phrase="Enable Plugin">:">    <ul>    <li><input type="checkbox" name="plugin_active" id="plugin_active" value="1" <TMPL_IF NAME=plugin_active>checked="checked"</TMPL_IF> /> <__trans phrase="Plugin Active"></li>    </mtapp:setting>    </ul>    </mtapp:setting>